@{
    ViewData["Title"] = "Política de Privacidade";
}

<vc:cabecalho-modulos titulo="Gestão Hospitalar" subtitulo="@ViewData["Title"]"></vc:cabecalho-modulos>

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panelClose panelRefresh">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewData["Title"]</h3>
        </div>

        <div class="panel-body">

            <h3>@ViewData["TitleMessage"]</h3>
            <p>@ViewData["Message"]</p>

        </div>

    </div>
</div>


