<!---->
<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">

@await Html.PartialAsync("PartialViews/_Head")

<body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @await Html.PartialAsync("PartialViews/_Navbar")

    <div id="wrapper">
        <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
            <div class="sidebar-inner">
                <div class="sidebar-scrollarea">

                    @await Html.PartialAsync("PartialViews/_Sidebar-Panel-Profile")

                    @await Html.PartialAsync("PartialViews/_List-Side-Nav")

                    @await Html.PartialAsync("PartialViews/_Sidebar-Panel-Footer")
                </div>
            </div>
        </aside>

        @await Html.PartialAsync("PartialViews/_Right-Sidebar")

        <div class="page-content sidebar-page right-sidebar-page clearfix">
            <!-- .page-content-wrapper -->
            <div class="page-content-wrapper">
                <div class="page-content-inner">
                    <!-- .page-content-inner -->
                    <div id="page-header" class="clearfix">
                        <div class="page-header">
                            <h2>Dashboard</h2>
                            <span class="txt">Welcome to Dynamic admin</span>
                        </div>
                        <div class="header-stats">
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">2345</span>Visitors</div>
                                <div id="spark-visitors" class="sparkline"></div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">17345</span>Views</div>
                                <div id="spark-templateviews" class="sparkline"></div>
                            </div>
                            <div class="spark clearfix">
                                <div class="spark-info"><span class="number">3700$</span>Sales</div>
                                <div id="spark-sales" class="sparkline"></div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                </div>
                <!-- / .page-content-inner -->
            </div>
            <!-- / page-content-wrapper -->
        </div>
    </div>

    @await Html.PartialAsync("PartialViews/_Footer")

    @await Html.PartialAsync("PartialViews/_Scripts")

    @RenderSection("scripts", required: false);

</body>
</html>